/* Загальні стилі */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    user-select: none;
    line-height: 1.6;
    color: #333;
    background-color: #02735E;
    margin: 0;
    padding: 0;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 80px; /* Збільшено ширину */
    height: 80px; /* Збільшено висоту */
    background-color: #04BF7B; /* Синій фон */
    color: white;
    border: none;
    border-radius: 50%;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Схована за замовчуванням */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 100; /* Кнопка буде поверх усіх інших елементів */
}

#back-to-top:hover {
    background-color: #038C65; /* Темніший синій при наведенні */
    transform: scale(2.1); /* Збільшення кнопки */
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: #345956;
    
}

.container2 {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color: #345956;
    display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
}

.text {
    flex: 1; /* Текст займає 50% або більше простору */
    max-width: 60%; /* Максимальна ширина текстового блоку */
}

.image {
    flex: 1; /* Зображення займає решту простору */
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 100%; /* Зображення адаптується до розміру блоку */
    height: auto;    /* Зберігає пропорції */
    border-radius: 10px; /* Додаємо округлені краї */
}

.section {
    padding: 20px; /* Відступи для секції */
}


/* Заголовок */

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 20px;
}

header .btn {
    display: inline-block;
    padding: 10px 20px;
    background: #038C65;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

header .btn:hover {
    background:#02735E;
    ;
}

/* Основні стилі для header */
 header {
    position: relative;
    height: 400px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: background-image 1s ease-in-out;
}

/* Контейнери для тексту */
header .container {
    z-index: 2;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Напівпрозорий чорний шар */
    z-index: 1;
}

/* Стилі для стрілок */
.slider-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    transform: translateY(-50%);
}

.arrow {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
}

.arrow:hover {
    background: rgba(0, 0, 0, 0.7);
}

.intensive__wrapper {
	display: flex;
	justify-content: space-between;
	margin-top: 42px;
}

.intensive__item {
	width: 360px;
}

.intensive__img {
	width: 100%;
}

.intensive__descr {
	margin-top: 15px;
	color: #4a4a4a;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
}

/* Навігація */
nav {
    background: #345956;
    color: white;
    padding: 10px 0;
    position: sticky;  /* Закріпити елемент при прокручуванні */
    top: 0;  /* Вказує, що елемент буде закріплений від верхньої частини */
    z-index: 1000;  /* Забезпечує, що панель буде поверх інших елементів */
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Секції */
.section {
    padding: 40px 20px;
    background: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.section img {
    max-width: 100%;
    border-radius: 8px;
}

/* Статті */
.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.article{
    background-color: #f9f9f9; /* Світло-сірий фон */
    padding: 20px;
    border: 1px solid #ddd; /* Легка рамка */
    border-radius: 8px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анімація */
} 
.article2{
    background-color: #f9f9f9; /* Світло-сірий фон */
    padding: 20px;
    border: 1px solid #ddd; /* Легка рамка */
    border-radius: 8px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анімація */
    margin: 5px 20px;
} 
.article3{
    background-color: #f9f9f9; /* Світло-сірий фон */
    padding: 20px;
    border: 1px solid #ddd; /* Легка рамка */
    border-radius: 8px; /* Закруглені кути */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тінь */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Анімація */
    margin: 5px 20px;
} 
.article3:hover {
    transform: scale(1.15); /* Збільшення розміру */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Посилення тіні */
}
.articles-grid2 {
    
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.article:hover {
    transform: scale(1.3); /* Збільшення розміру */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Посилення тіні */
}

.articles-grid article {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.articles-grid article h3 {
    margin-bottom: 10px;
    color: #02735E;
}
.section h2 {
    margin-bottom: 10px;
    color: #02735E;
}

/* Форма */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background: #038C65;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background: #345956;
}

/* Футер */
footer {
    text-align: center;
    padding: 10px 0;
    background: #345956;
    color: white;
}

.hidden {
    display: none;
}

.view {
    display: flex;
    justify-content: space-between; /* Робить пункти рівновіддаленими */
    align-items: center;
    gap: 10px; /* Відстань між блоками */
    height: auto;
    height: 60px;
    padding: 14px 5%; /* Зменшено бічні відступи */
    margin-top: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    border-radius: 5px;
}
.view div {
    flex: 1; /* Блоки розтягуються рівномірно */
    text-align: center; /* Вирівнювання тексту всередині */
}

.view a {
    color: #038C65; /* Зміна кольору посилання */
    text-decoration: none; /* Відсутність підкреслення */
    font-weight: bold;
    white-space: nowrap; /* Забороняє перенос тексту */
    transition: color 0.3s, text-decoration 0.3s; /* Плавність змін при наведенні */
}

.view a:hover {
    color: #065648; /* Зміна кольору при наведенні */
    text-decoration: underline; /* Додається підкреслення */
}

.bottomMenu
{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #039761; /* Початковий колір кнопки */
    border: none;
    border-radius: 15px; /* Закруглені кути */
    box-shadow: 0 9px #345956; /* Тінь кнопки */
    margin: 20px auto; /* Автоматичне вирівнювання по горизонталі */
    display: block;
}

.bottomMenu:hover {
    background-color: #038C65; /* Колір при наведенні */
  }
  
  .bottomMenu:active {
    background-color: #02735E; /* Колір при натисканні */
    box-shadow: 0 5px #345956; /* Зменшена тінь */
    transform: translateY(4px); /* Легка зміна положення */
  }


.title_dop
{
    text-align: center;
}
h4{
    color: #02735E
}

.title_li 
{
    margin: 5px 20px;
    font-size: 22px;
    color: #038C65;
}